body {font-family:Arial;}
h1 {color:#010202; font-size:15px; font-family: "Helvetica", sans-serif;}
h2 {color:#F9F7F7; font-size:20px; font-family: "Helvetica", sans-serif;}
h3 {color:#0DF2EE; font-size:25px; font-family: "Helvetica", sans-serif;}
h4 {color:#0DF2EE; font-size:30px; font-family: "Helvetica", sans-serif;}
h6 {color:#0DF2EE; font-size:40px; font-family: "Helvetica", sans-serif;}
p {color:#050505; font-size:14px; text-align:"justify"}
li {color:#0661F0; font-size:12px;}
a {color:#0661F0; font-size:17px;}
