body {font-family:verdana;}
h1 {color:#86CAEB; font-size:15px; font-family: "Helvetica", sans-serif;}
h2 {color:#78ACFD; font-size:20px; font-family: "Helvetica", sans-serif;}
h3 {color:#0DF2EE; font-size:25px; font-family: "Helvetica", sans-serif;}
h4 {color:#0DF2EE; font-size:30px; font-family: "Helvetica", sans-serif;}
h6 {color:#0DF2EE; font-size:40px; font-family: "Helvetica", sans-serif;}
p {color:#FFFFFF; font-size:14px;}
li {color:#0661F0; font-size:12px;}
a {color:#0661F0; font-size:12px;}
